@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #f7f7f7;
}

h1,
p,
h4,
h3,
li {
  font-family: Montserrat;
  color: #303030;
}

h1 {
  text-align: center;
}

.nav-bar {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 545;
  word-spacing: 1px;
}

a {
  text-decoration: none;
}

.top-center {
  text-align: center;
  font-weight: 700;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  font-weight: 500;
}
