@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1 {
  font-family: "Montserrat";
  text-align: center;
  font-size: 32px;
}

.nav-bar {
  font-family: "Courier New";
  text-align: center;
}

.top-center {
  font-family: "Montserrat";
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-weight: 600;
}
p,
li {
  font-family: "Montserrat";
  font-weight: 500;
}

h4 {
  font-family: "Montserrat";
  text-align: center;
}
